header{
    background-color: #000;
    font-color: #fff;

}

.wrapper{
    max-width: 940px;
    align-items:center;
}

nav ul {
    display: flex;
    gap: 20px;

}

hero {
    height: 600px;
    background-image: url(images/bio-pic.jpg);
}
img{
    width: 100%;
    align-items: center;
    filter: grayscale(70%);
}

h1 {
    max-width: 60%;
    background-color: rgba(0,0, 0, 0.5) #000;
    text-shadow: #fff;
    display: flex;
    align-items: center;
}

about me .wrapper{
    max-width: 940px;
    align-items:center;

    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 40px;
    text-align: center;
    padding: 20px;
}

services .wrapper{
    max-width: 940px;
    align-items:center;

    background-color: #fafafa; 
    
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 20px;

    margin:0 auto;
    padding: .8em 1em;
    background-color: #000;
    border-color: #000;
    text-decoration-color: #fff;

}

h2{
    max-width: 100%;
    text-align: center;
}

my work .wrapper {
    max-width: 940px;
    align-items: center;
   
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 200px 200px;
}

.image 1 {
    grid-area: 1/1/2/2;
}

.image 2{
    grid-area: 1/2/2/3;
}

.image 3 {
    grid-area: 2/1/3/2;
}

.image 4 {
    grid-area: 2/2/3/3;
}

.image 5 {
    grid-area: 2/3/3/3;
}


footer {
    background-color: #000;
    text-decoration-color: #fff;
    text-align: center;

}